<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Gas_Station_Database_Management_System.Properties.Settings.Gas_Station_Management_SystemConnectionString"
            connectionString="Data Source=DESKTOP-VRH88NJ;Initial Catalog=&quot;Gas Station Management System&quot;;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>